/*
    slider code
*/

#slider {
    width: 1000px;
    height: 600px;
    background: url(https://images.pexels.com/photos/335692/pexels-photo-335692.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    margin: 66px auto;
    animation: slide 25s infinite;
}

@keyframes slide {
    25% {
        background: url(https://images.pexels.com/photos/9391383/pexels-photo-9391383.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    }
    50% {
        background: url(https://images.pexels.com/photos/8404555/pexels-photo-8404555.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    }
    75% {
        background: url(https://images.pexels.com/photos/8404490/pexels-photo-8404490.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    }
    100% {
        background: url(https://images.pexels.com/photos/8404494/pexels-photo-8404494.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    }
}
