* {
    font-family: 'Pattaya'; 
    font-family: 'Henny Penny';  
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9453a6;
    color: #f2f2f2;
}

.logo {
    width: 5%;
}

.navbar-links ul {
    /* margin: 0; */
    /* padding: 0; */
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    background-color: #0d0d0d;
}

.navbar-links li a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 1rem;
    display: block;
}

.hamburger {
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 90%;
    background-color: #f2f2f2;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .hamburger {
        display: flex;
        margin: 20px;
    }

    .navbar-links {
        width: 90%;
        display: none;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar {
        align-items: flex-start;
    }

    .logo {
        width: 12%;
    }
    

    .navbar-links ul {
        padding: 0;
        width: 90%;
        flex-direction: column;
    }
}